{% extends 'base.html.twig' %}

{% block title %}
  All skills
{% endblock %}

{% block content %}
  <div class="flex">
    <h1 class="h1 text-3xl mr-4">Skills</h1>
    {% if app.user %}
      <a href="/skills/new" class="block self-end rounded-md py-1 px-2 bg-sky-500 hover:bg-sky-600 duration-100 text-white">Add</a>
    {% endif %}
  </div>
  <img src="/images/skill-stone.png" alt="Skills" class="w-32 absolute top-2 right-2" />

  <div class="flex justify-start mt-4">
    {% for skill in skills %}
      <div class="relative w-1/5 m-4 p-4">
        <a href="/skills/{{ skill.name }}">
        <div class="relative overflow-hidden w-full h-42">
          {% if skill.image %}
            <img class="object-cover mx-auto h-full w-full" src="{{ skill.image }}" alt="{{ skill.name }}" />
          {% else %}
            <img class="object-cover mx-auto h-full w-full" src="/images/skill-stone.png" alt="{{ skill.name }}" />
          {% endif %}
        </div>
        <h3 class="h3 text-lg">{{ skill.name }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
