{% extends 'base.html.twig' %}

{% block title %}
  Single skill
{% endblock %}

{% block content %}
  <div class="flex justify-between mb-4">
    <div>
      <a href="/skills">&lt; Go back</a>
    </div>
    {% if app.user %}
      <div class="flex">
        <a href="/skills/edit/{{ skill.name }}" class="block self-end rounded-md py-1 px-2 ml-2 bg-sky-500 hover:bg-sky-600 duration-100 text-white">Edit</a>
        <a href="/skills/delete/{{ skill.name }}" class="block self-end rounded-md py-1 px-2 ml-2 bg-red-500 hover:bg-red-600 duration-100 text-white">Delete</a>
      </div>
    {% endif %}
  </div>
  <div class="grid">
    <div class="mb-4">
      {% if skill.image %}
        <img class="float-right max-w-sm" src="{{ skill.image }}" alt="{{ skill.name }}" />
      {% endif %}
      <h1 class="text-3xl">{{ skill.name }}</h1>
      <h2 class="text-xl font-dovahkiin">{{ skill.name }}</h2>
    </div>
  </div>
{% endblock %}
