{% extends 'base.html.twig' %}

{% block title %}
  All followers
{% endblock %}

{% block content %}
  <div class="flex">
    <h1 class="h1 text-3xl mr-4">Followers of Skyrim</h1>
    {% if app.user %}
      <a href="/followers/new" class="block self-end rounded-md py-1 px-2 bg-sky-500 hover:bg-sky-600 duration-100 text-white">Add</a>
    {% endif %}
  </div>
  <img src="/images/mariage.png" alt="Mariage" class="w-32 absolute top-2 right-2" />

  <div class="flex mt-4">
    {% for follower in followers %}
      <div class="relative w-1/5 m-4 p-4">
        <a href="/followers/{{ follower.name }}">
          <div class="relative overflow-hidden w-full h-72 bg-gray-300">
            {% if follower.image %}
              <img class="object-cover mx-auto h-full w-full" src="{{ follower.image }}" alt="{{ follower.name }}" />
            {% else %}
              <img class="object-cover mx-auto h-full w-full" src="/images/mariage.png" alt="{{ follower.name }}" />
            {% endif %}
          </div>
          <h3 class="h3 text-lg">{{ follower.name }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
