{% extends 'base.html.twig' %}

{% block title %}
  New follower
{% endblock %}

{% block content %}
    <a href="/followers">&lt; Go back</a>
    {{ form_start(follower_form) }}
      {{ form_row(follower_form._token) }}
      <form>
        <div class="mx-auto w-full max-w-md">
            <h1 class="text-xl mb-2">New</h1>
            <div>
                {{ form_errors(follower_form) }}
            </div>
            <div class="mb-3">
                <label for="follower-name" class="block text-sm font-medium text-gray-700 mb-1">Name</label>
                {{ form_widget(follower_form.name, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'follower-homeland'}}) }}
            </div>
            <div class="mb-3">
                <label for="follower-bio" class="block text-sm font-medium text-gray-700 mb-1">Biography</label>
                {{ form_widget(follower_form.biography, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'rows': '10', 'id' : 'follower-bio'}}) }}
            </div>
            <div class="mb-3">
                <label for="follower-image" class="block text-sm font-medium text-gray-700 mb-1">Image</label>
                {{ form_widget(follower_form.image, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'follower-image', 'placeholder' : 'https://....'}}) }}
            </div>
            <div class="mb-3">
                <label for="follower-race" class="block text-sm font-medium text-gray-700 mb-1">Race</label>
                {{ form_widget(follower_form.race, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'follower-race'}}) }}
            </div>
            <div class="mb-3">
                <label for="follower-city" class="block text-sm font-medium text-gray-700 mb-1">Found in</label>
                {{ form_widget(follower_form.livingIn, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'follower-city'}}) }}
            </div>
            {{ form_row(follower_form.submit, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full bg-gray-200'}}) }}
        </div>
      </form>
{% endblock %}