{% extends 'base.html.twig' %}

{% block title %}
  All cities
{% endblock %}

{% block content %}
  <div class="flex">
    <h1 class="h1 text-3xl mr-4">Cities of The Elder Scrolls</h1>
    {% if app.user %}
      <a href="/cities/new" class="block self-end rounded-md py-1 px-2 bg-sky-500 hover:bg-sky-600 duration-100 text-white">Add</a>
    {% endif %}
  </div>
  <img src="/images/city.png" alt="Thuum" />

  <div class="flex mt-4">
    {% for city in cities %}
      <div class="relative w-1/5 m-4 p-4">
        <a href="/cities/{{ city.name }}">
          <div class="relative overflow-hidden w-full h-44 bg-gray-300">
            {% if city.photo %}
              <img class="object-cover mx-auto h-full w-full" src="{{ city.photo }}" alt="{{ city.name }}" />
            {% else %}
              <img class="object-cover mx-auto h-full w-full" src="/images/city.png" alt="{{ city.name }}" />
            {% endif %}
          </div>
          <h3 class="h3 text-lg">{{ city.name }}</h3>
          <p>{{ city.province }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
