{% extends 'base.html.twig' %}

{% block title %}
  All cities
{% endblock %}

{% block content %}
  <h1 class="h1 text-3xl mb-3">Cities of The Elder Scrolls</h1>
  
  {% if app.user %}
    <a href="/cities/new" class="border border-gray-200 rounded-md py-1 px-2 bg-gray-200">Add</a>
  {% endif %}

  <div class="flex mt-4">
    {% for city in cities %}
      <div class="m-4 p-4">
        <a href="/cities/{{ city.name }}">
          <img src="{{ city.photo }}" alt="{{ city.name }}" width="30%" height="auto" />
          <h3 class="h3 text-lg">{{ city.name }}</h3>
          <p>{{ city.description }}</p>
          <p>{{ city.province }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
