{% extends 'base.html.twig' %}

{% block title %}
  Edit city
{% endblock %}

{% block content %}
    <a href="/cities">Go back</a>
    <h1 class="text-3xl">Edit city</h1>
    {{ form_start(city_form) }}
      {{ form_row(city_form._token) }}
      <form>
              {{ form_errors(city_form) }}
          <div class="mb-3">
              <label for="city-name" class="block text-sm font-medium mb-1">Name</label>
              {{ form_widget(city_form.name, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'city-name'}}) }}
          </div>
          <div class="mb-3">
              <label for="city-description">Description</label>
              {{ form_widget(city_form.description, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'rows': '10', 'id' : 'city-description'}}) }}
          </div>
          <div class="mb-3">
              <label for="city-photo">Photo</label>
              {{ form_widget(city_form.photo, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'city-photo', 'placeholder' : 'https://....'}}) }}
          </div>
          <div class="mb-3">
              <label for="city-photo">Province</label>
              {{ form_widget(city_form.province, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'city-photo', 'placeholder' : 'https://....'}}) }}
          </div>
          {{ form_row(city_form.submit, {'attr': {'class': 'btn--submit rounded-md py-1 px-4 bg-green-700'}}) }}
      </form>
      {{ form_end(city_form) }}
{% endblock %}