{% extends 'base.html.twig' %}

{% block title %}
  {{ city.name }}
{% endblock %}

{% block content %}
  <div class="flex justify-between mb-4">
    <div>
      <a href="/cities">&lt; Go back</a>
    </div>
    {% if app.user %}
      <div class="flex">
        <a href="/cities/edit/{{ city.name }}" class="block self-end rounded-md py-1 px-2 ml-2 bg-sky-500 hover:bg-sky-600 duration-100 text-white">Edit</a>
        <a href="/cities/delete/{{ city.name }}" class="block self-end rounded-md py-1 px-2 ml-2 bg-red-500 hover:bg-red-600 duration-100 text-white">Delete</a>
      </div>
    {% endif %}
  </div>
  <div class="grid">
    <div class="mb-4">
      {% if city.photo %}
        <img class="float-right max-w-sm" src="{{ city.photo }}" alt="{{ city.name }}" />
      {% endif %}
      <h1 class="text-3xl">{{ city.name }}</h1>
      <h2 class="text-xl font-dovahkiin">{{ city.name }}</h2>
      <h3 class="text-xl">City in the province of {{ city.province }}</h3>
      <div class="mt-6">
        <p>{{ city.description }}</p>
      </div>
      <div class="mt-6">
        <p>
          Followers living here :{% for follower in city.followers %}
            <a href="/followers/{{ follower.name }}">{{ follower.name }}</a>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
