{% extends 'base.html.twig' %}

{% block title %}
  Edit race
{% endblock %}

{% block content %}
    <a href="/races">Go back</a>
    {{ form_start(race_form) }}
      {{ form_row(race_form._token) }}
      <form>
        <div class="mx-auto w-full max-w-md">
            <h1 class="text-3xl mb-2">Edit race</h1>
            <div>
                {{ form_errors(race_form) }}
            </div>
            <div class="mb-3">
                <label for="race-name" class="block text-sm font-medium mb-1">Name</label>
                {{ form_widget(race_form.name, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'race-homeland'}}) }}
            </div>
            <div class="mb-3">
                <label for="race-homeland" class="block text-sm font-medium mb-1">Home land</label>
                {{ form_widget(race_form.homeland, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'race-homeland'}}) }}
            </div>
            <div class="mb-3">
                <label for="race-skills" class="block text-sm font-medium mb-1">Skills</label>
                {{ form_widget(race_form.skills, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'race-skills'}}) }}
            </div>
            <div class="mb-3">
                <label for="race-description" class="block text-sm font-medium mb-1">Description</label>
                {{ form_widget(race_form.description, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'rows': '10', 'id' : 'race-description'}}) }}
            </div>
            <div class="mb-3">
                <label for="race-image" class="block text-sm font-medium mb-1">Image</label>
                {{ form_widget(race_form.image, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'race-image', 'placeholder' : 'https://....'}}) }}
            </div>
            {{ form_row(race_form.submit, {'attr': {'class': 'btn--submit rounded-md py-1 px-4 bg-green-700'}}) }}
        </div>
      </form>
{% endblock %}