{% extends 'base.html.twig' %}

{% block title %}
  New race
{% endblock %}

{% block content %}
    <a href="/races">Go back</a>
    new race
    {{ form_start(race_form) }}
      {# {{ form_row(race_form._token) }} #}
      <form>
          <div class="my-custom-class-for-errors">
              {{ form_errors(race_form) }}
          </div>
          <div class="mb-3">
                <label for="race-name" class="block text-sm font-medium text-gray-700 mb-1">Name</label>
                {{ form_widget(race_form.name, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'race-name'}}) }}
          </div>
          <div class="mb-3">
              <label for="race-homeland" class="block text-sm font-medium text-gray-700 mb-1">Home land</label>
              {{ form_widget(race_form.homeland, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'race-homeland'}}) }}
          </div>
          <div class="mb-3">
              <label for="race-skills" class="block text-sm font-medium text-gray-700 mb-1">Skills</label>
              {{ form_widget(race_form.skills, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'race-skills'}}) }}
          </div>
          <div class="mb-3">
              <label for="race-content" class="block text-sm font-medium text-gray-700 mb-1">Description</label>
              {{ form_widget(race_form.description, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'rows': '10', 'id' : 'race-content'}}) }}
          </div>
          <div class="mb-3">
              <label for="race-content" class="block text-sm font-medium text-gray-700 mb-1">Image</label>
              {{ form_widget(race_form.image, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'race-image', 'placeholder' : 'https://....'}}) }}
          </div>
          {{ form_row(race_form.submit) }}
      </form>
      {{ form_end(race_form) }}
{% endblock %}