{% extends 'base.html.twig' %}

{% block title %}
  Single race
{% endblock %}

{% block content %}
    <a href="/races">Go back</a>
    <h1>Race {{race.name}}</h1>
    <p>people of {{race.homeland}}</p>
    <p>good at {% for skill in race.skills %}{{skill}}{% endfor %}</p>
    {{race.description}}
    {% if race.image %}
    <img src="{{race.image}}" alt="{{race.name}}">
    {% endif %}
    <a href="/races/edit/{{race.name}}">Éditer</a>
    <a href="/races/delete/{{race.name}}">Supprimer</a>
{% endblock %}