{% extends 'base.html.twig' %}

{% block title %}
  {{ race.name }}
{% endblock %}

{% block content %}
  <div class="flex justify-between mb-4">
    <div>
      <a href="/races">&lt; Go back</a>
    </div>
    {% if (app.user and race.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
      <div class="flex">
        <a href="/races/edit/{{ race.name }}" class="block self-end rounded-md py-1 px-2 ml-2 bg-sky-500 hover:bg-sky-600 duration-100 text-white">Edit</a>
        <a href="/races/delete/{{ race.name }}" class="block self-end rounded-md py-1 px-2 ml-2 bg-red-500 hover:bg-red-600 duration-100 text-white">Delete</a>
      </div>
    {% endif %}
  </div>
  <div class="grid">
    <div class="mb-4">
      {% if race.image %}
        <img class="float-right max-w-sm" src="{{ race.image }}" alt="{{ race.name }}" />
      {% endif %}
      <div>
        <h1 class="text-3xl">{{ race.name }}</h1>
        <h2 class="text-xl font-dovahkiin">{{ race.name }}</h2>
        <h3 class="text-xl">people of {{ race.homeland }}</h3>
        <p>
          Good at :{% for skill in race.skills %}
            <a href="/skills/{{ skill.name }}">{{ skill }}</a>
          {% endfor %}
        </p>
        <div class="mt-6">
          <p>{{ race.description }}</p>
        </div>
        {# <p>
          Available followers of this race : <br />
          {% for follower in race.followers %}
            {{ follower.name }}
          {% endfor %}
        </p> #}
      </div>
    </div>
  </div>
  <div>
    Article written by {{race.author.username}}
  </div>
{% endblock %}
