{% extends 'base.html.twig' %}

{% block title %}
  Single race
{% endblock %}

{% block content %}
  <div class="flex justify-between mb-4">
    <div>
      <a href="/races" class="border border-gray-200 rounded-md py-1 px-2 bg-gray-200">&lt; Go back</a>
    </div>
    {% if app.user %}
      <div>
        <a href="/races/edit/{{ race.name }}" class="border border-gray-200 rounded-md py-1 px-2 bg-gray-200">Éditer</a>
        <a href="/races/delete/{{ race.name }}" class="border border-gray-200 rounded-md py-1 px-2 bg-gray-200">Supprimer</a>
      </div>
    {% endif %}
  </div>
  <div class="mb-4">
    <h1 class="text-3xl">{{ race.name }}</h1>
    <h3 class="text-xl">people of {{ race.homeland }}</h3>
    <p>
      good at{% for skill in race.skills %}
        {{ skill }}
      {% endfor %}
    </p>
    {{ race.description }}
    {% if race.image %}
      <img src="{{ race.image }}" alt="{{ race.name }}" />
    {% endif %}
  </div>
{% endblock %}
