{% extends 'base.html.twig' %}

{% block title %}
  New province
{% endblock %}

{% block content %}
    <a href="/provinces">Go back</a>
    {{ form_start(province_form) }}
      {# {{ form_row(province_form._token) }} #}
      <form>
        <div class="mx-auto w-full max-w-md">
            <h1 class="text-xl mb-2">New</h1>
            <div>
                {{ form_errors(province_form) }}
            </div>
            <div class="mb-3">
                <label for="province-name" class="block text-sm font-medium text-gray-700 mb-1">Name</label>
                {{ form_widget(province_form.name, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'province-homeland'}}) }}
            </div>
            <div class="mb-3">
                <label for="province-description" class="block text-sm font-medium text-gray-700 mb-1">Description</label>
                {{ form_widget(province_form.description, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'rows': '10', 'id' : 'province-description'}}) }}
            </div>
            <div class="mb-3">
                <label for="province-image" class="block text-sm font-medium text-gray-700 mb-1">Image</label>
                {{ form_widget(province_form.image, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full', 'id' : 'province-image', 'placeholder' : 'https://....'}}) }}
            </div>
            {{ form_row(province_form.submit, {'attr': {'class': 'border border-gray-200 rounded-md py-1 px-2 w-full bg-gray-200'}}) }}
        </div>
      </form>
{% endblock %}