{% extends 'base.html.twig' %}

{% block title %}
  {{ province.name }}
{% endblock %}

{% block content %}
  <div class="flex justify-between mb-4">
    <div>
      <a href="/provinces">&lt; Go back</a>
    </div>
    {% if (app.user and province.author.id == app.user.id) or is_granted('ROLE_ADMIN') %}
      <div class="flex">
        <a href="/provinces/edit/{{ province.name }}" class="block self-end rounded-md py-1 px-2 ml-2 bg-sky-500 hover:bg-sky-600 duration-100 text-white">Edit</a>
        <a href="/provinces/delete/{{ province.name }}" class="block self-end rounded-md py-1 px-2 ml-2 bg-red-500 hover:bg-red-600 duration-100 text-white">Delete</a>
      </div>
    {% endif %}
  </div>
  <div class="grid">
    <div class="mb-4">
      {% if province.image %}
        <img class="float-right max-w-sm" src="{{ province.image }}" alt="{{ province.name }}" />
      {% endif %}
      <h1 class="text-3xl">{{ province.name }}</h1>
      <h2 class="text-xl font-dovahkiin">{{ province.name }}</h2>
      <div class="mt-6">
        <p>{{ province.description }}</p>
      </div>
      <div class="mt-6">
        Notable cities of this province :<ul>
          {% for city in province.cities %}
            <li>
              <a href="/cities/{{ city.name }}">{{ city.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div>Article written by {{ province.author.username }}</div>
{% endblock %}
